body {
    font-family: "Source Code Pro for Powerline", helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
}

#terminal-container {
    background-color: black;
    user-select: none;
    margin: 0;
}

#terminal-container .terminal {
    color: #fafafa;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
